<template>
    <div class="alert alert-danger" id="newsletterError">
        <strong>Hata ! </strong>{{ message.hata }}
    </div>
</template>

<script>
    export default {
        name: "ebulten-error",
        props: ['message']
    }
</script>

<style scoped>

</style>