<template>
    <div class="alert alert-success" id="newsletterSuccess">
        <strong>Başarılı :)</strong> {{ message.ok }}
    </div>
</template>

<script>
    export default {
        name: "ebulten-success",
        props: [ 'message' ]
    }
</script>

<style scoped>

</style>