<template>
    <div>
        <h1>Artistler</h1>
        <ul>
            <li v-for="artist in artists">
                {{ artist.Nationality}}
            </li>
        </ul>
    </div>
</template>
<script>
    export default {
        name: "makalem",
        data(){
            return{
                artists:[]
            }
        },
    created(){
        fetch('Artists.json')
            .then((res) => { return res.json()})
            .then((res) => {
                this.artists = res.artizler;
            } )

    }
    }
</script>
