<template>
    <div class="alert alert-danger" id="newsletterError">
        <strong>Hata ! </strong> {{ sendmesaj.hata }}
    </div>
</template>

<script>
    export default {
        name: "mesaj-error",
        props: ['sendmesaj']
    }
</script>

<style scoped>

</style>