<template>
    <div class="alert alert-success" id="newsletterSuccess">
        <strong>Başarılı :) </strong> {{ sendmesaj.ok }}
    </div>
</template>

<script>
    export default {
        name: "mesaj-success",
        props: ['sendmesaj']
    }
</script>

<style scoped>

</style>