<template>
    <div>
        <section class="page-not-found">
            <div class="row justify-content-center">
                <div class="col-lg-7 text-center">
                    <div class="page-not-found-main">
                        <h2>404 <i class="fas fa-file"></i></h2>
                        <p>Üye Olmadan Her Sınavın Yalnızca İlk 10 Sorusunu Çözebilirsiniz..!</p>
                    </div>
                </div>
                <div class="col-lg-4">
                    <h4 class="heading-primary">Here are some useful links</h4>
                    <ul class="nav nav-list flex-column">
                        <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">About Us</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">FAQ's</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Sitemap</a></li>
                        <li class="nav-item"><a class="nav-link" href="#">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </section>
    </div>
</template>

<script>
    export default {
        name: "soru-goruntuleme-izni-yok"
    }
</script>

<style scoped>

</style>