<template>
    <div class="alert alert-danger" id="">
        <strong>Hata ! </strong>{{ hatalisorumesaj.hata }}
    </div>
</template>

<script>
    export default {
        name: "soru-hata-bildirim-mesaj",
        props: ['hatalisorumesaj']
    }
</script>

<style scoped>

</style>