<template>
    <div class="alert alert-success" id="">
        <strong>Teşekkürler </strong>{{ hatalisorumesaj.ok }}
    </div>
</template>

<script>
    export default {
        name: "soru-hata-success",
        props: ['hatalisorumesaj']
    }
</script>

<style scoped>

</style>