<template>
    <div class="alert alert-danger" id="">
        <strong>Hata ! </strong>{{ yorumresult.hata }}
    </div>
</template>

<script>
    export default {
        name: "yorum-error",
        props: ['yorumresult']
    }
</script>

<style scoped>

</style>