<template>
    <div class="form-group col-lg-12">
        <div class="post-block post-comments clearfix">
            <h3 class="heading-primary"><i class="fas fa-comments"></i>Yorumlar ({{yorumlar.length}})</h3>
            <ul class="comments">
                <li v-for="yorum in yorumlar">
                    <a :href="userSlug(yorum.user_id,yorum.kullanici_adi)">
                        <div class="comment">
                            <div class="img-thumbnail d-none d-sm-block">
                                <img class="avatar appear-animation animated tada appear-animation-visible" :alt="yorum.kullanici_adi" :src="userPhoto(yorum.user_foto)" data-appear-animation="tada" data-appear-animation-delay="0" data-appear-animation-duration="1s" style="animation-duration: 1s; animation-delay: 0ms;">
                            </div>
                            <div class="comment-block">
                                <div class="comment-arrow"></div>
                                <span class="comment-by">
                                 <strong>{{ yorum.kullanici_adi }}</strong>
                            </span>
                                <p v-html="yorum.yorum">{{ yorum.yorum }}</p>
                                <span class="date float-right">{{ yorum.tarih }}</span>
                            </div>
                        </div>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</template>

<script>
    export default {
        name: "yorumlar",
        props: ['yorumlar'],
        methods:{
            slugify(text) {
                var trMap = {
                    'çÇ': 'c',
                    'ğĞ': 'g',
                    'şŞ': 's',
                    'üÜ': 'u',
                    'ıİ': 'i',
                    'öÖ': 'o'
                };
                for (var key in trMap) {
                    text = text.replace(new RegExp('[' + key + ']', 'g'), trMap[key]);
                }
                return text.replace(/[^-a-zA-Z0-9\s]+/ig, '') // remove non-alphanumeric chars
                    .replace(/\s/gi, "-") // convert spaces to dashes
                    .replace(/[-]+/gi, "-") // trim repeated dashes
                    .toLowerCase();
            },
            userSlug(id, kullanici) {
                return 'https://'+window.location.host + '/uye/' + id + '-' + this.slugify(kullanici);
            },
			userPhoto(par) {
            if (par.includes('http:')) {
                par.replace('http:', 'https:');
                return par;
            }

            return 'https://'+window.location.host+'/'+par;
			
			}
        }
    }
</script>

<style scoped>

</style>