<template>
    <div class="alert alert-success" id="">
        <strong>Teşekkürler </strong>{{ yorumresult.ok }}
    </div>
</template>

<script>
    export default {
        name: "yorum-success",
        props: ['yorumresult']
    }
</script>

<style scoped>

</style>